.chat-box {
  background-color: #fff;
  flex: auto;
}

.chat-messages {
  height: 20rem;
  overflow: auto;
  width: 100%;
}

.chat-form {
  display: flex;
  width: 100%;
}

.chat-input {
  flex: 1;
}

.chat-messages,
.chat-input,
.chat-send {
  background-color: transparent;
  border: 1px solid #ccc;
}
