#video-box {
  background-color: #aaa;
}

#video-form {
  display: flex;
  width: 100%;
}

#video-input {
  flex: 1;
}

#video-input,
#video-send {
  background-color: transparent;
  border: 1px solid #ccc;
}
