<div id="chat-box">
  <form id="chat-form">
    <input id="chat-input" type="text" placeholder="Type a message...">
    <button id="chat-send">Send</button>
  </form>
  <div id="chat-messages"></div>
</div>
